<div class='grid contents'>
  <% contents.each do |content| %>
    <div>
      <a class='published_content' href='<%= content_path(content) %>'>
        <article  data-category='<%= content.category.name %>'>
          <h5><%= content.name %></h5>
        </article>
      </a>
    </div>
  <% end %>
</div>
