<%= content_for :title do %> - Conteúdos <% end %>
<div class="uk-container uk-container-large">
  <div class="uk-margin">
    <form class="uk-search uk-search-large uk-width-1-1@m uk-search-default">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search">
    </form>
  </div>
</div>

<section id="contents" class="uk-section">
  <div class="uk-container uk-container-expand">
    <header class="uk-text-center">
      <h3 class="uk-text-bolder">Conteúdos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </header>
    <div class="uk-child-width-1-4@m" uk-grid uk-grid uk-height-match="target: > div > .uk-card > .uk-card-body">
      <% @contents.each do |content| %>
        <div>
            <div class="uk-card uk-card-secondary uk-height-1-1">
            <div class="uk-card-media-top">
                <img src="https://cdn-images-1.medium.com/max/1000/1*p8kr-K6qcq_25g6ToWH01Q.jpeg" alt="">
            </div>
            <div class="uk-card-body uk-text-center ">
                <p class="uk-text-bold uk-card-title"><%= content.title %></p>
                <p><%= truncate(content.description, length: 70) %></p>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a href="content.html" class="uk-button uk-button-text uk-text-large">Começar</a>
            </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>