<section>
  <div class="grid">
    <div>
      <article>
        <h3 class="text-center"><%= @content.name %></h3>
      </article>
    </div>
  </div>

  <% if  @content.embeded_video.html_safe.present? %>
    <div class="grid">
      <div>
        <%= @content.embeded_video.html_safe %>
      </div>
    </div>
  <% end %>
</section>

<section>
  <div class="grid">
    <div>
      <p>
        <%= @content.body %>
      </p>
    </div>
  </div>
</section>
