<section>
  <div class="grid contents">
    <div>
      <a href="post.html">
        <article>
          <h3 class="text-center"><%= @content.name %></h3>
        </article>
      </a>
    </div>
  </div>

  <div class="grid contents">
    <div>
      <iframe width="100%" height="675" src="https://www.youtube.com/embed/L9rtI1YPRwY?controls=0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<section>
  <div class="grid contents">
    <div>
      <p>
        <%= @content.body %>
      </p>
    </div>
  </div>
</section>
