<section>
  <div class="grid contents">
    <div>
      <article>
        <h3 class="text-center"><%= @content.name %></h3>
      </article>
    </div>
  </div>

  <div class="grid contents">
    <div>
      <%= @content.embeded_video.html_safe %>
    </div>
  </div>
</section>

<section>
  <div class="grid contents">
    <div>
      <p>
        <%= @content.body %>
      </p>
    </div>
  </div>
</section>
