<footer>
  <section class="section">
    <div class="container">
      <p class="has-text-centered is-size-5-desktop is-size-6-mobile has-text-white">
        &COPY; Negros.dev - Todos os direitos reservados 2021
      </p>
      <h1 class="title has-text-white has-text-centered mt-6">Parceiros</h1>
      <p class="has-text-centered mt-6 footer-sponsors">
        <a href="https://caravana.cloud" target="_blank" class="ml-5">
          <img src="/assets/sponsors/caravana.png" alt="caravana" width="100">
        </a>
      </p>
    </div>
  </section>
</footer>