  <footer>
    <section class="section">
      <div class="container">
        <p class="has-text-centered is-size-5-desktop is-size-6-mobile has-text-white">
          &COPY; Negros.dev - Todos os direitos reservados 2021
        </p>
        <p class="has-text-centered mt-6 footer-sponsors">
          <img src="https://negros.dev/img/gitlab.svg" alt="gitlab" width="68">
          <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="netflify">
          <img src="/assets/img/community/caravana.png" alt="caravana" width="100">
        </p>
      </div>
    </section>
  </footer>