<footer>
  <section class="uk-section uk-container">
    <header class="uk-text-center">
      <h3 class="uk-text-bolder">Parceiros</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </header>
    <p class="uk-text-center">
      <a href="https://caravana.cloud/" class="uk-link-reset">
        <%= image_tag 'sponsors/caravana.png', alt: "Logotipo do caravana cloud. Uma marca parceira do negros.dev" %>
      </a>
      <a href="https://jetbrains.com/" class="uk-link-reset">
        <%= image_tag 'sponsors/jetbrains.png', alt: "Logotipo da Jetbrains. Uma marca parceira do negros.dev" %>
      </a>
    </p>
  </section>
  <section class="uk-section uk-container">
    <p class="uk-text-center">&COPY; Negros.dev 2021. Todos os direitos reservados</p>
  </section>
</footer>
