<footer>
  <section class="section">
    <div class="container">
      <p class="has-text-centered is-size-5-desktop is-size-6-mobile has-text-white">
        &COPY; Negros.dev - Todos os direitos reservados 2021
      </p>
      <h1 class="title has-text-white has-text-centered mt-6">Parceiros</h1>
      <p class="has-text-centered mt-6 footer-sponsors">
        <a href="https://caravana.cloud" alt="Logotipo do Caravana Cloud representada por uma nuvem roxinha coloca em cima do nome da marca" target="_blank" class="ml-5">
          <img src="/assets/sponsors/caravana.png" alt="caravana" width="100">
        </a>
        <a href="https://jetbrains.com" alt="Logotipo da JetBrains em cores rosa e amarela com o nome Jetbrains no meio da imagem em branco e fundo preto" target="_blank" class="ml-5">
          <img src="/assets/sponsors/jetbrains.png" alt="caravana" width="70">
        </a>
      </p>
    </div>
  </section>
</footer>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<%= yield :scripts %>