<nav>
  <div class="uk-background-black-matte uk-margin-large-bottom">
    <div class="uk-container uk-container-expand">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left uk-visible@m">
          <a href="/" class="uk-navbar-item uk-logo">
            <img src="https://negros.dev/assets/logo.png" alt="">
            <span class="uk-text-uppercase uk-text-middle">
                negros.dev
              </span>
          </a>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #hamburger"></a>
          <ul class="uk-navbar-nav uk-visible@m">
            <li>
              <%= link_to 'blog', posts_path %>
            </li>
            <li>
              <a href="https://discord.com/invite/zd3eysQWrf">discord</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div id="hamburger" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default">
        <li>
          <a href="https://discord.com/invite/zd3eysQWrf">discord</a>
        </li>
      </ul>
    </div>
  </div>
</nav>