<nav class="navbar is-transparent mb-6" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/curses">
        <img src="/assets/logo.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navPrincipal">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navPrincipal" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to 'Início',   root_path,      class: 'navbar-item'  %>  
        <%= link_to 'Cursos', courses_path,   class: 'navbar-item'  %>  
      </div>
  
      <div class="navbar-end">
        <%= link_to 'Instrutores', authors_path,   class: 'navbar-item'  %>
      </div>
    </div>
  </div>  
</nav>