<nav class="navbar is-transparent mb-6" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/logo.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navPrincipal">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navPrincipal" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
  
        <a href="treinamentos.html" class="navbar-item">
          Treinamentos
        </a>
  
        <a href="authors.html" class="navbar-item">
          Instrutores
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="login.html" class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</nav>