<nav class="navbar is-transparent mb-6 mt-2" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <img src="/assets/logo.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navPrincipal">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navPrincipal" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item is-uppercase">
          <%= link_to 'início', root_path, class: 'navbar-item'  %>
          <%= link_to 'treinamentos', courses_path, class: 'navbar-item'  %>
          <%= link_to 'como contribuir', como_contribuir_path, class: 'navbar-item'  %>
        </div>
      </div>
    </div>

  </div>  
</nav>