<div class="container">
  <nav>
    <ul class="text-center">
      <li>
        <a href="<%= root_path %>">
          <img class="avatar" src="/negros.dev.png" alt="Negros.dev">
          <strong>Negros.dev</strong>
        </a>
      </li>
    </ul>
  </nav>
</div>
