<div class="navbar">
  <div class="container">
    <nav>
      <ul class="text-center">
        <li>
          <a href="<%= root_path %>">
            <%= image_tag 'logo.png', { class: 'avatar', alt: "Negros.dev" } %>
            <strong>negros.dev</strong>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://github.com/marcuxyz/">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
