<section>
  <h1>Conteúdos</h1>
  <p>Escolha um conteúdo e clique em seu nome para obter continuar lendo.</p>

  <% if @contents.present? %>
    <%= render 'contents/content', { contents: @contents } %>
  <% else %>
    <h1>Nenhum conteúdo para exibir</h1>
  <% end %>
</section>
