<%= content_for :title do %> - Mostrando conteúdos via <%= @tag.name %>  <% end %>
<section class="section">
  <div class="container">
    <div class="columns is-multiline cards-height-match">
      <% @contents.each do |content| %>
        <div class="column is-4-desktop is-6-tablet is-12-mobile mb-6">
          <%= render partial: 'components/content', locals: { content: content, effect: false } %>
        </div>
      <% end %>
    </div>
</section>