<section class="section">
  <div class="container">
    <div class="columns is-vcentered has-text-centered">
      <div class="column">
        <%= image_tag '404.png', class: 'error-img' %>
        <p class="is-size-3 has-text-light mt-5">
          Opsssss! A página solicitada não foi encontrada.
        </p>
        <p class="has-text-white mt-3">
          Volte para a página anterior <%= link_to 'clicando aqui', :back, class: 'has-text-white link-border' %>
        </p>
      </div>
    </div>
  </div>
</section>
