<section class="section">
  <div class="container">
    <div class="columns is-multiline cards-height-match">
      <% unless @categories.empty? %>
        <div class="column is-2-desktop is-3-tablet is-12-mobile">
          <aside class="menu">
            <p class="menu-label">
              Categorias
            </p>
            <ul class="menu-list category">          
              <% @categories.each do |category| %>
                <li>
                  <a class="is-flex" href="<%= categorias_course_path(category) %>">
                    <img src="/assets/categories/<%= category.name.downcase %>.png">
                    <span><%= category.name %></span>
                  </a>
                <li>              
              <% end %>
            </ul>
          </aside>
        </div>
      <% end %>

      <% if @courses.empty? %>
        <div class="column is-12">
          <p class="has-text-centered has-text-white is-size-3-desktop is-size-5-mobile">
            Os cursos ainda não foram cadastados no momento.
          </p>
        </div>
      <% else %>
        <div class="column is-expanded">
          <div class="columns is-multiline">
            <% @courses.each do |course| %>
              <div class="column is-4-desktop is-6-tablet is-12-mobile mb-6">
                <%= render partial: 'components/course', locals: { course: course, effect: false } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</section>