:root {
  --color-rose-light: #ff3c60;
  --color-rose      : #fe1843;
}

/* main, header, body configuration 
=============================================*/


html,
body {
  background-color: hsl(0, 0%, 4%);
  height          : 100vh;
  min-height      : 100vh;
}


body.site {
  display       : flex;
  min-height    : 100vh;
  flex-direction: column;
}

main.site-container {
  flex: 1;
}

/* menu configuration 
=============================================*/
.menu p,
.menu ul li a {
  color    : white;
  font-size: 18px;
}

.menu-list a.is-active {
  background-color: #fff;
  color: #170909;
}

.navbar.is-transparent {
  background-color: transparent !important;
}

#navPrincipal a.navbar-item {
  font-size: 20px;
  color    : white;
}

#navPrincipal a.navbar-item:hover {
  color: #ccc;
}

.navbar-item img {
  max-height: 2.75rem;
}


/* belongs to cards and box tools 
=============================================*/

.card {
  background-color: transparent;
  border          : 2px solid var(--color-rose);
  transition      : all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card.clear {
  transition: none;
}

.card.clear:hover {
  transform: none;
}


.card-footer {
  border-top: none;
}

.cards-height-match .card {
  height: 100%;
}

.cards-height-match .card-content {
  height: 200px;
}

.card.card-color-default {
  border-color: white !important;
}

.author {
  display: flex;
  gap    : 10px;
}

.author figure {
  margin-left: 10px;
}

.difficult {
  text-align: right;
  margin-right: 15px;
  margin-top  : 10px;
}

.difficult figure {
  margin-left: 15px;
}

.difficult i {
  color: hsl(48, 100%, 67%);
}

.network i {
  font-size   : 1.5rem;
  margin-top  : 15px;
  margin-right: 10px;
}


/* inputs and forms configuration
=============================================*/

.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.is-active.input,
.is-active.textarea,
.select select.is-active {
  border-color: var(--color-rose);
  box-shadow  : 0 0 0 0.125em rgba(var(--color-rose), .5);
}

/* training configuration
=============================================*/
.category {
  align-items: center;
}

.category li {
  margin-bottom: 10px;
}

.category li a.is-active {
  background-color: whitesmoke;
  color           : #222;
}

.category img {
  width: 24px !important;
  height: 24px !important;
}

.category span {
  vertical-align: middle !important;
  margin-left   : 10px;
}



/* colors, button and text configuration
=============================================*/
.has-text-rose {
  color: var(--color-rose) !important;
}

.button.is-rose {
  background-color: var(--color-rose);
  border          : 1px solid var(--color-rose);
  color           : white;
}

.button.is-rose.is-outlined {
  background-color: transparent !important;
  border          : 1px solid var(--color-rose);
  color           : white;
}

.button.is-rose.is-outlined:hover {
  background-color: var(--color-rose);
  color           : white;
}

/* links, imgs configuration
=============================================*/
a.link-border {
  border-bottom: 1px solid var(--color-rose);
}

a.link-border:hover {
  border-bottom: 1px solid var(--color-rose-light);
}


.error-img {
  width : 400px;
  height: 400px;
}


/* footer configuration
=============================================*/
.footer-sponsors img {
  margin-right: 25px;
}